In [2]:
import pandas as pd
df = pd.read_csv("cities.csv")
df.head()

   City_ID          City  Cloudiness  ...     Lng  Max Temp  Wind Speed
0        0  jacareacanga           0  ...  -57.76     89.60        6.93
1        1    kaitangata         100  ...  169.85     42.61        5.64
2        2      goulburn          20  ...  149.72     44.32       10.11
3        3          lata          76  ...   78.62     59.89        0.94
4        4    chokurdakh           0  ...  147.90     32.17        2.95

[5 rows x 10 columns]

In [3]:
df.to_html("cities_data.html")